<nav class="navbar navbar-light bg-light">
  <a class="nav-link">Volunteers VBS Colombia</a>
  <%= form_tag volunteers_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :first_name, params[:first_name], class: "form-control mr-sm-2", placeholder: "Nombre" %>
      <br><br>
      <%= text_field_tag :church, params[:church], class: "form-control mr-sm-2", placeholder: "Iglesia" %>
      <br><br>
      <%= select_tag "role_type", options_from_collection_for_select(Volunteer.role_types, "second", "first", params[:role_type]), prompt: "Rol", class: "form-control mr-sm-2" %>
    <%= submit_tag "Buscar", name: nil, class: "btn btn-outline-info my-2 my-sm-0" %>
  <% end %>
</nav>

<div class="table-responsive-sm">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Nombre(s)</th>
      <th>Apellidos(s)</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Iglesia</th>
      <th>Edad</th>
      <th>Identificacíon</th>
      <th>Rol</th>

      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <br>
    <tbody>
      <% @volunteers.each do |volunteer| %>
        <tr>
          <td><%= link_to volunteer.first_name, volunteer_path(volunteer) %></td>
          <td><%= volunteer.last_name %></td>
          <td><%= volunteer.email %></td>
          <td><%= volunteer.phone %></td>
          <td><%= volunteer.church %></td>
          <td><%= volunteer.age %></td>
          <td><%= volunteer.identification %></td>
          <td><%= volunteer.role_type.titleize if volunteer.role_type?%></td>
          <td>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_volunteer_path(volunteer), class: "btn btn-info" %>
          </td>
          <td>
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, { action: :destroy, id: volunteer.id }, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
