<h2>Volunteers VBS Colombia</h2>
<br>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= form_tag volunteers_path, method: :get do %>
      <div class="form-group">
        <%= text_field_tag :first_name, params[:first_name], class: "form-control", placeholder: "Nombre" %>
      </div>
      <div class="form-group">
        <%= text_field_tag :church, params[:church], class: "form-control", placeholder: "Iglesia" %>
      </div>
      <div class="form-group">
        <%= select_tag "role_type", options_from_collection_for_select(Volunteer.role_types, "second", "first", params[:role_type]), prompt: "Rol", class: "form-control" %>
      </div>
      <%= submit_tag "Buscar", name: nil, class: "form-control btn btn-info" %>
    <% end %>
  </div>
</div>
<div class="table-responsive-sm">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Nombre(s)</th>
      <th>Apellidos(s)</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Iglesia</th>
      <th>Edad</th>
      <th>Identificacíon</th>
      <th>Rol</th>

      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <div class="digg_pagination"><%= will_paginate @volunteers, :page_links => false %></div>
    <tbody>
      <% @volunteers.each do |volunteer| %> 
        <tr>
          <td><%= link_to volunteer.first_name, volunteer_path(volunteer) %></td>
          <td><%= volunteer.last_name %></td>
          <td><%= volunteer.email %></td>
          <td><%= volunteer.phone %></td>
          <td><%= volunteer.church %></td>
          <td><%= volunteer.age %></td>
          <td><%= volunteer.identification %></td>
          <td><%= volunteer.role_type.titleize %></td>
          <td>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_volunteer_path(volunteer), class: "btn btn-info" %>
          </td>
          <td>
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, { action: :destroy, id: volunteer.id }, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>