<h2>Crew Leaders VBS Colombia</h2>
<br>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= form_tag crew_leaders_path, method: :get do %>
      <div class="form-group">
        <%= text_field_tag :first_name, params[:first_name], class: "form-control", placeholder: "Nombre" %>
      </div>
      <div class="form-group">
        <%= text_field_tag :church, params[:church], class: "form-control", placeholder: "Iglesia" %>
      </div>
      <%= submit_tag "Buscar", name: nil, class: "form-control btn btn-info" %>
    <% end %>
  </div>
</div>
<div class="table-responsive-sm">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Nombre(s)</th>
      <th>Apellidos(s)</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Iglesia</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <br>
    <tbody>
      <% @crew_leaders.each do |crew_leader| %> 
        <tr>
          <td><%= link_to crew_leader.first_name, crew_leader_path(crew_leader) %></td>
          <td><%= crew_leader.last_name %></td>
          <td><%= crew_leader.email %></td>
          <td><%= crew_leader.phone %></td>
          <td><%= crew_leader.church %></td>
          <td>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_crew_leader_path(crew_leader), class: "btn btn-info" %>
          </td>
          <td>
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, { action: :destroy, id: crew_leader.id }, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>