<h2><%= @crew_leader.first_name %> <%= @crew_leader.last_name %>'s Crew</h2>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Edad</th>
    <th>Tarjeta de Identidad</th>
    <th>EPS</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>
    <% @crew_leader.children.each do |child| %> 
      <tr>
        <td><%= link_to child.first_name, child %></td>
        <td><%= child.last_name %></td>
        <td><%= child.age %></td>
        <td><%= child.identification %></td>
        <td><%= child.health_provider %></td>
        <td><%= link_to  "Editar", edit_child_path(child), class: "btn btn-info" %>
            <%= link_to 'Eliminar', child, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
        </td>       
        </td> 
      </tr>
    <% end %> 
  </tbody>
</table>

