<h2>Niños VBS Colombia</h2>
<br>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= form_tag children_path, method: :get do %>
      <div class="form-group">
        <%= text_field_tag :first_name, params[:first_name], class: "form-control", placeholder: "Nombre" %>
      </div>
      <%= submit_tag "Buscar", name: nil, class: "form-control btn btn-info" %>
    <% end %>
  </div>
</div>
<br>
<div class="table-responsive-sm">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Tarjeta de Identidad</th>
      <th>EPS</th>
      <th>Crew Leader</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
      <% @children.each do |child| %> 
        <tr>
          <td><%= link_to child.first_name, child %></td>
          <td><%= child.last_name %></td>
          <td><%= child.age %></td>
          <td><%= child.identification %></td>
          <td><%= child.health_provider %></td>
          <td>
            <% if child.crew_leader.present? %>
              <%= link_to child.crew_leader.first_name, child.crew_leader %>
            <% end %>
          </td>
          <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_child_path(child), class: "btn btn-info" %>
          </td>
          <td>
              <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, child, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
          </td>        
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>