<%= render 'shared/errors', obj: @child %>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_for @child do |f| %>
      <div class="form-group">
        <%= f.label :Nombre %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div> 
      <div class="form-group">
        <%= f.label :Apellido %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :edad %>
        <%= f.number_field :age, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Tarjeta_de_identidad %>
        <%= f.number_field :identification, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :EPS %>
        <%= f.text_field :health_provider, class: "form-control" %>
      </div> 
      <%= f.submit class: "btn btn-info" %>
    <% end %>
  </div>
</div>