<br>
<%= render 'shared/errors', obj: @parent %>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_for @parent do |f| %>

      <div class="form-group">
        <%= f.label :Nombres %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Apellidos %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Teléfono %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Iglesia %>
        <%= f.text_field :church, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Valor_cancelado %>
        <%= f.number_field :amount_paid, class: "form-control" %>
      </div>
      <%= f.submit class: "btn btn-info" %>
    <% end %>
  </div>
</div>
