<h2>Padres VBS Colombia</h2>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Teléfono</th>
    <th>Valor Cancelado</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <div class="digg_pagination"><%= will_paginate @parents, :page_links => false %></div>
  <tbody>
    <% @parents.each do |parent| %> 
      <tr>
        <td><%= link_to parent.name, parent_path(parent) %></td>
        <td><%= parent.email %></td>
        <td><%= parent.phone %></td>
        <td><%= parent.amount_paid %></td>
        <td>
          <%= link_to  "Editar", edit_parent_path(parent), class: "btn btn-info" %>
          <%= link_to 'Eliminar',  { action: :destroy, id: parent.id }, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %> 
  </tbody>
