<h2 class="test-class">Padres VBS Colombia</h2>
<br>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= form_tag parents_path, method: :get do %>
      <div class="form-group">
        <%= text_field_tag :first_name, params[:first_name], class: "form-control", placeholder: "Nombre" %>
      </div>
      <div class="form-group">
        <%= text_field_tag :church, params[:church], class: "form-control", placeholder: "Iglesia" %>
      </div>
      <%= submit_tag "Buscar", name: nil, class: "form-control btn btn-info" %>
    <% end %>
  </div>
</div>

<div class="table-responsive-sm">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Nombre(s)</th>
      <th>Apellidos(s)</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Iglesia</th>
      <th>Valor Cancelado</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <br>
    <tbody>
      <% @parents.each do |parent| %> 
        <tr>
          <td><%= link_to parent.first_name, parent_path(parent) %></td>
          <td><%= parent.last_name %></td>
          <td><%= parent.email %></td>
          <td><%= parent.phone %></td>
          <td><%= parent.church %></td>
          <td><%= parent.amount_paid %></td>
          <td>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_parent_path(parent), class: "btn btn-info" %>
          </td>
          <td>
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, { action: :destroy, id: parent.id }, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>