<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag('vbspng.png', id: "vbs-logo") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item">
        <%= link_to "Padres", parents_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Crear Padre", new_parent_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Niños", children_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
         <%= link_to "Crew Leaders", crew_leaders_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Crear Crew Leader", new_crew_leader_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Volunteers", volunteers_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Crear Volunteer", new_volunteer_path, class: "nav-link" %>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <% if hacker_signed_in? %>
      <li class="nav-item">
        <%= link_to('Logout', destroy_hacker_session_path, method: :delete, class: "nav-link") %> 
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to('Login', new_hacker_session_path, class:"nav-link")  %>  
      </li>
      <% end %>
    </ul>
  </div>
</nav>
<br>