
<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <br>
                <li class="sidebar-brand">
                  <a class="navbar-brand" href="/">
                    <%= image_tag('vbspng.png', id: "vbs-logo") %>
                  </a>
                </li>
                <li>
                    <%= link_to "Listar Padres", parents_path, class: "nav-link" %>
                </li>
                <li>
                    <%= link_to "Crear Padre", new_parent_path, class: "nav-link" %>
                </li>
                <li>
                    <%= link_to "Listar Niños", children_path, class: "nav-link" %>
                </li>
                <li>
                    <%= link_to "Listar Crew Leaders", crew_leaders_path, class: "nav-link" %>
                </li>
                <li>
                    <%= link_to "Crear Crew Leader", new_crew_leader_path, class: "nav-link" %>
                </li>
                <li>
                    <%= link_to "Listar Volunteers", volunteers_path, class: "nav-link" %>
                </li>
                <li>
                    <%= link_to "Crear Volunteer", new_volunteer_path, class: "nav-link" %>
                </li>
                <% if hacker_signed_in? %>
                  <li>
                    <%= link_to('Logout', destroy_hacker_session_path, method: :delete, class: "nav-link") %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to('Login', new_hacker_session_path, class:"nav-link")  %>
                  </li>
                <% end %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    </div>
